<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>دیوار</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/divar.svg" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <%-body%>
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>